<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>505064710022-tijnbvin54d630t9sjaioe0igrdrdme3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsr3Q4ZAJITuGz0lpfh5MrbSVCPmQvZpw</string>
	<key>GCM_SENDER_ID</key>
	<string>505064710022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodGramApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>food-gram-407205</string>
	<key>STORAGE_BUCKET</key>
	<string>food-gram-407205.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505064710022:ios:759e728c10469001145607</string>
	<key>DATABASE_URL</key>
	<string>https://food-gram-407205-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>